@page "/"
@using System.Globalization
@inject GamesClient gamesClient

<PageTitle>Game Catalog</PageTitle>

<div class="mt-2">
    <a class="btn btn-primary" href="/edit-game">New Game</a>
</div>

@if (games is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Genre</th>
                <th class="text-end">Price</th>
                <th>Release Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price.ToString("C2", CultureInfo.GetCultureInfo("en-US"))</td>
                    <td>@game.ReleaseDate.ToString("d")</td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-primary me-2" role="button" href="@GameUrl(game.Id)">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(game)">
                                <i class="bi bi-x-lg"></i>
                            </button>
                            <DeleteGame Game="@game" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GameSummary[]? games;

    protected override void OnInitialized()
    {
        games = gamesClient.GetGames();
    }

    private string GameUrl(int id) => $"/edit-game/{id}";

    private string GetDeleteModalId(GameSummary game)
    {
        return $"#{DeleteGame.GetModalId(game)}";
    }
}